@charset "UTF-8";

body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック', 'YuGothic', 'Yu Gothic', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    margin: 0;
    min-width: 1440px;
}

@media screen and (max-width: 768px) {
    body {
        min-width: 768px;
    }
}

/* ヘッダー */
header {
    background-color: rgb(255, 162, 129);
}

.block-header {
    z-index: 9999;
    background-color: rgb(255, 162, 129);
    border-bottom: 5px solid rgb(255, 113, 61);
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0; 
    left: 0;
}

.header-contents {
    display: flex;
    align-items: center;
}

.my-logo {
    margin-right: 10px;
}

.my-logo img {
    height: 50px;
}

.header-title {
    width: 100%;
    text-align: left;
}

.header-title-name {
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom:2px solid rgb(255, 113, 61);
}

.menu-bar {
    width: 100%;
    text-align: right;
}

.menu-bar a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    padding-right:10px ;
}

.menu-bar a:hover {
    color: rgb(255, 113, 61);;
}

@media screen and (max-width: 768px) {
    .block-header {
        z-index: 9999;
        background-color: rgb(255, 162, 129);
        border-bottom: 5px solid rgb(255, 113, 61);
        width: 100%;
        padding: 10px;
        position: fixed;
        top: 0; 
        left: 0;
    }
    
    .my-logo {
        margin-right: 10px;
    }
    
    .my-logo img {
        height: 40px;
    }
    
    .header-title {
        width: auto;
        text-align: left;
    }
    
    .header-title-name {
        color: white;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 1px;
        text-decoration: none;
        border-bottom:2px solid rgb(255, 113, 61);
    }
    
    .menu-bar {
        width: 100%;
        text-align: right;
    }
    
    .menu-bar a {
        color: white;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        text-decoration: none;
        padding-right:10px ;
    }
}


/* メイン */
.block-main {
    margin: 0 auto;
}

#home-link {
    padding-top: 200px;
    margin-top: -200px;
}

#about-link {
    padding-top: 200px;
    margin-top: -200px;
}

#projects-link {
    padding-top: 150px;
    margin-top: -150px;
}

#contact-link {
    padding-top: 150px;
    margin-top: -150px;
}

.first-view{
    background-color: rgb(255, 162, 129);
    display: flex;
    width: 1400px;
    padding: 50px 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 250px;
    align-items: center;
    justify-content: space-evenly;
}

.myphoto {
    border-radius: 50%;
    height: 350px;
    width: 350px;
    position: relative;
    border: 3px solid white;
    margin: 20px 20px 20px 0px;
}

.myphoto img {
    position: absolute;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
    margin: -150px 0px 0px -150px;
}

.myname {
    color: white;
}

.en-char {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
    border-bottom:3px solid rgb(255, 113, 61);
    display:inline;
    line-height:2;
}

.ja-char {
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
}

.box-about {
    display: flex;
    justify-content: center;
    height: 500px;
    margin-bottom: 150px;
}

.about-contents {
    display: inline-block;
}

.about-title {
    text-align: center;
    margin-bottom: 30px;
}

.about-title-name {
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 20px;
}

.about-logo {
    text-align: center;
    margin-bottom: 80px;
}

.about-logo img {
    height: 75px;
}

.pc-skills {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 100px 0 100px;
}

.pc-skills-name {
    font-size: 25px;
    line-height: 30px;
}

.self-introduction {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 200px 0 200px;
}

.self-introduction-text {
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 30px;
}

.mailad {
    text-align: center;
    margin-bottom: 30px;
}

.mailad-text {
    font-size: 20px;
    letter-spacing: 1px;
}

.github-logo {
    text-align: center;
}

.github-logo img {
    height: 50px;
    width: 50px;
}

.section1{ 
    padding-bottom: 100px;  
    position: relative;
    overflow: hidden;
    background-color:#fff;
}
.section1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 200px solid rgb(255, 162, 129);  /* 三角をグレーにする */ 
    border-left: 1680px solid transparent;
}

.section2{ 
    padding-bottom: 200px;  
    position: relative;
    overflow: hidden;
    background-color:rgb(255, 162, 129);
    margin-bottom: 100px;
}

.section2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 200px solid #fff;  /* 三角を白にする */ 
    border-right: 1680px solid transparent;
}

.box-projects {
    padding: 20px 0 30px 0;;
}

.projects-title {
    text-align: center;
    margin-bottom: 30px;
}

.projects-title-name {
    color: white;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 20px;
}

.projects-logo {
    text-align: center;
    margin-bottom: 80px;
}

.projects-logo img {
    height: 70px;
}

.projects-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.project-content {
    width: 450px;
    padding: 0 50px;
    margin-bottom: 20px;
}

.projects-img img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.project-name {
    margin: 30px 0;
}

.project-name-text {
    font-size: 30px;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
}

.explain {
    margin-bottom: 10px;
}

.explain-text {
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 20px;
    margin-bottom: 5px;
}

.sample-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.sample-text {
    color: white;
    font-size: 18px;
}

.link-btn-contents {
    margin: 20px 0;
}

.link-website {
    color: white;
    border: 2px solid white;
    padding: 5px;
}

.link-website a {
    color: white;
    text-decoration: none;
}

.link-git {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 5px;
}

.link-git a {
    color: white;
    text-decoration: none;
}

#mail-maga-img img {
    object-position: 50% 0;
}

#board-img img {
    object-position: 50% 0;
}

#twi-cl-img img {
    object-position: left top;
}

#to-do-img img {
    object-position: left top;
}

#crud-img img {
    object-position: 50% 0;
}

.box-contact {
    height: 700px;
}

.contact-title {
    text-align: center;
    margin-bottom: 30px;
}

.contact-title-name {
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 20px;
}

.contact-logo {
    text-align: center;
    margin-bottom: 80px;
}

.contact-logo img {
    height: 75px;
}

.contact-contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.phone-content {
    background-color: whitesmoke;
    border-top: 5px solid rgb(255, 113, 61);
    width: 400px;
}

.phone-logo {
    text-align: center;
    padding: 20px 20px 0 20px;
}

.phone-title {
    text-align: center;
    margin-bottom: 30px;
}

.phone-name {
    margin-bottom: 20px;
    font-size: 25px;
    letter-spacing: 5px;
    border-bottom:3px solid black;
    line-height: 45px;
}

.phone-num {
    text-align: center;
    margin-bottom: 50px;
}

.phone-num-text {
    font-size: 20px;
    letter-spacing: 5px;
}

.mail-content {
    background-color: whitesmoke;
    border-top: 5px solid rgb(255, 113, 61);
    width: 400px;
}

.mail-logo {
    text-align: center;
    padding: 20px 20px 0 20px;
}

.mail-title {
    text-align: center;
    margin-bottom: 30px;
}

.mail-name {
    margin: 0 100px 20px 100px;
    font-size: 25px;
    letter-spacing: 5px;
    border-bottom:3px solid black;
    line-height: 45px;
}

.contact-mailad {
    text-align: center;
    margin-bottom: 50px;
}

.contact-mailad-text {
    font-size: 20px;
    letter-spacing: 5px;
}

@media screen and (max-width: 768px) {
    .first-view{
        background-color: rgb(255, 162, 129);
        width: auto;
        display: flex;
        flex-flow: column;
        padding: 50px 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 250px;
        align-items: center;
        justify-content: center;
    }

    .myphoto {
        border-radius: 50%;
        height: 220px;
        width: 220px;
        position: relative;
        border: 2px solid white;
        margin: 0px;
    }
    
    .myphoto img {
        position: absolute;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        top: 50%;
        left: 50%;
        margin: -100px 0px 0px -100px;
    }
    
    .en-char {
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 3px;
        border-bottom:2px solid rgb(255, 113, 61);
        display:inline;
        line-height:2;
    }
    
    .ja-char {
        text-align: center;
        font-size: 30px;
        letter-spacing: 6px;
    }

    .box-about {
        display: flex;
        justify-content: center;
        height: auto;
        margin-bottom: 150px;
    }
    
    .about-title-name {
        font-size: 45px;
        font-weight: bold;
        letter-spacing: 15px;
    }
    
    .about-logo {
        text-align: center;
        margin-bottom: 80px;
    }
    
    .about-logo img {
        height: 55px;
    }

    .pc-skills {
        text-align: center;
        margin-bottom: 40px;
        width: 350px;
        padding: 0;
    }
    
    .pc-skills-name {
        font-size: 15px;
        line-height: 30px;
    }
    
    .self-introduction {
        text-align: center;
        margin-bottom: 40px;
        width: 350px;
        padding: 0;
    }

    .self-introduction-text {
        letter-spacing: 2px;
        font-size: 15px;
        line-height: 30px;
    }

    .mailad-text {
        font-size: 15px;
        letter-spacing: 1px;
    }

    .projects-title-name {
        color: white;
        font-size: 45px;
        font-weight: bold;
        letter-spacing: 15px;
    }
    
    .projects-logo img {
        height: 50px;
    }

    .box-contact {
        height: auto;
    }
    
    .contact-title-name {
        font-size: 45px;
        font-weight: bold;
        letter-spacing: 15px;
    }
    
    .contact-logo img {
        height: 55px;
    }
    
    .contact-contents {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .phone-content {
        background-color: whitesmoke;
        border-top: 5px solid rgb(255, 113, 61);
        width: 350px;
        margin-bottom: 50px;
    }

    .phone-logo img {
        height: 50px;
    }
    
    .mail-content {
        background-color: whitesmoke;
        border-top: 5px solid rgb(255, 113, 61);
        width: 350px;
        margin-bottom: 100px;
    }

    .mail-logo img {
        height: 50px;
    }
    
    .contact-mailad-text {
        font-size: 20px;
        letter-spacing: 3px;
    }
}

/* フッター */
footer {
    background-color: whitesmoke;
    padding: 15px 0 15px 0;
}

.footer-my-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.footer-my-logo img {
    height: 60px;
    width: 60px;
}

.copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
}